body {
  background-color: firebrick;
}

#score {
  position: absolute;

  top: 3vh;
  left: calc(50vw + 23vh);
}

#speed {
  position: absolute;

  top: 8vh;
  left: calc(50vw + 23vh);
}
#misses {
  position: absolute;

  top: 13vh;
  left: calc(50vw + 23vh);
}

#canvas {
  width: 45vh;
  height: 90vh;

  position: absolute;
  top: 0vh;
  left: 0;

  margin: auto;

  background-color: darkcyan;
}
